/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.editorconfig
/.phpstorm.meta.php
/clearme
/perms
/Envoy.blade.php
/composer.lock
/package-lock.json
